body {
  height: 100%;
  margin: 0;
  padding: 0;
}
header{
  background-color: teal;
  margin-top: -20px;
  padding: 1em; 
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}
.container {
  display: flex;
}
.post-card{
  background-color: gray;

}
.post-textarea,
.post-title {
  color: goldenrod;
  width: 70%;
  outline: none;
  border: none;
  padding: 1em;
}
.nav-link{
  text-decoration: none;
  color:#fff
}

@media screen and (min-width: 750px) {
  body {
    background-color: lightblue;
  }
  .post-card {
    width: 65%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: lightblue;
  }
  .post-card {
    min-width: 75%;
  }
  nav{
    justify-content: space-evenly;
  }

}