<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYGYMPAL</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
</head>
<div id="app">
<body>
    {% csrf_token %}
            {% if user.is_authenticated %}
                <div class='user'>
                <nav>
                    <ul>
                        <li><span v-if="currentUser"><a :href="'/users/profile/' + currentUser.username">
                            <img class='prof-pic' :src='currentUser.profile_pic' alt='profile-Pic' width='100%'border-box='flex'></span></li></a>
                        <li><p>{{ user.username }}</p></li>
                        <li><h4><span v-if='currentUser'><a :href="'/users/profile/' + currentUser.username">profile</a></span></h4></li>
                        <li><h4><a href="{% url 'login' %}">Logout</a></h4></li>
                        <li><h3><a href='/'>MYGYMPAL</a></h3></li>
                    </ul>
                </nav>
                </div>

            {% else %}
                <h1>Welcome, GYMBRO!</h1>
                <p>You are not logged in OR need to signup. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
            {% endif %}
        
            {% if user.is_authenticated %}
            <div class='input'>
                <span v-if="currentUser">
                    <div>
                    <input type="text" placeholder="Title" v-model="newBlog.title">
                    </div>
                    <textarea class='body' type='text' placeholder="GYMBRO Thoughts" rows="7" cols="50" v-model="newBlog.body"></textarea>
                    <button @click="createPost">New Post</button>
                </span>
            </div>
            {%endif%}
            <div class='blogs'>

                <ul v-for="blogs in blog.results" :key="blogs.id">
                    <li>
                        <h1><b>[[ blogs.title ]]</b></h1>

                    <div class='blog-li'>
                        <h4>[[ blogs.body ]]</h4>

                        <div v-if="blogs" class='blog-user'>
                            <h5>Posted by:<a :href="'/users/profile/' + blogs.user_detail.username">&nbsp;&nbsp;&nbsp;[[blogs.user_detail.username]]</a></h5>
                        </div>

                        <h6>created:[[blogs.created]] /// updated:[[blogs.updated]]</h6>
                    </div>
                    </li>
                </ul>
            </div>
</div>
{% comment %} <a:href="'/users/profile/' + blogs.user_detail.username"> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="{% static 'home.js'%}"></script>
</body>
</div>
</html>








{% comment %} <div>
    <input type="text" placeholder="Title" v-model="newBlog.title">
    <template v-if="postErrors.title">
        <p v-for="error in postErrors.title">[[ error ]]</p>
    </template>


    <textarea placeholder="Body" v-model="newBlog.body"></textarea>
    <template v-if="postErrors.body">
        <p v-for="error in postErrors.body">[[ error ]]</p>
    </template>
    <button @click="createPost">New Post</button>
</div> {% endcomment %}