<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ROT Cipher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>ROT Cipher</h1>
    </header>
    <main>
        <form action="" method="POST">
        <div>
            <label>Enter a word to be encoded:</label><br>
            <input type="text" name="phrase"/>
            <button type="submit">Cipher</button>
        </div>
        </form>
        <div>
            {% if word %}
            <p>{{word}}</p>
            {% endif %}
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>