html {
    width: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body  {
    min-width: 0;
    /* width: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color:rgba(0, 0, 0, 0.295);
}

.top-banner {
    /* min-width: 0; */
    /* flex:2 1 auto; */
    /* box-sizing: inherit; */
    background-color: rgb(161, 117, 63);
    top:0;
    /* overflow: hidden; */
    /* flex-wrap: nowrap; */
    /* padding-bottom: 2em; */
    position: fixed;
    width: 100%;
    color:rgba(0, 0, 0, 0.784);
    display: flex;
    flex-direction: row;
    /* margin:1em;s */
    padding: .4em;
    border: .2em solid black;
    justify-content: space-evenly;
    gap: .5em;
    align-items: center;
}

.cart {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
    /* height:20vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    border: .1em solid rgb(26, 12, 12);
    color:rgb(23, 40, 55);
    text-shadow: #FC0 1px 0 10px;
    padding:1em;
    background-image: url(hammer.png);
    background-color: bisque;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 1em;
}



.top-banner p {
    font-size: 1em;
    /* word-wrap: break-word; */
    text-shadow: rgba(0, 0, 0, 0.148) .1em .1em;
}

p, summary {
    font-size: 1.5em;
}

.search-bar {
    justify-content: space-evenly;
    font-size: .8em;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: .1em solid rgba(0, 0, 0, 0.295);
    border-radius: 1em;
    /* padding: 1em; */
}

.material-icons.md-48 { 
    font-size: 36px; 
}


.ad1 {
    text-align: left;

    border-radius:.51em;
    padding-top: 18vh;
    /* height:80em; */
    border: .25em solid black;

}

.ad1-info {
    text-align: left;
    /* height:80em; */
    border: .25em solid black;
}
header h1 {
    font-size:1.5em;
    margin:.5em;
    border-radius:.4em;
    color: rgb(59, 1, 1)
}
aside {

    justify-content: center;
    text-align: center;
    background-color: bisque;
    margin: .2em;
    padding:1em;
    border: .1em solid black;
}

h2 {
    font-size: 1.51em;
    border: .02em solid rgba(0, 0, 0, 0.244);
    padding: .5em;
    background-color: antiquewhite;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.274) 1.50px 1.50px
}

aside img {
    
    height: 65%;
    width: 65%;
    margin-right: 7em;
    /* text-align: left; */
    /* height:15em; */
    /* width:15em */
}

aside img:hover {
    border: .1em solid black;
    box-shadow: 1em solid black;
    border-radius: .51em;
    height:75%;
    width: 75%;
}

aside:hover {
    /* font-size: 6em; */
    border: .1em solid black;
    box-shadow: 1em solid black;
    border-radius: 1em;
    /* font-size: 10vh; */
    height: 150%;
    /* width: 150%; */
}

.memorial-day-banner {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    background-color: red;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.memorial-day-banner section {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.memorial-day-banner h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    /* color: white; */
    border: none;
    background-color: red;
    justify-items: center;
}

footer {
    font-size: .6em;
    text-align: right;
}


@media (min-width: 750px) {
    .ad1 {
        padding-top: 13vh;
    }
    .top-banner {
        /* margin: 1em; */
        /* padding: 0; */
        font-size: 1.5em;
    }
    .search-bar {
        display: flex;
        align-items: center;
    }
    .cart,.menu {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .memorial-day-banner h2 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    header h1 {
        font-size: 2.3em;
    }
    /* .memorial-day-banner h2 {
        font-size: 3em;
    } */
    .material-icons.md-48 { font-size: 48px; }
    p, summary {
        margin-left: 1em;
        text-align: left;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2em;
    }
    article h2 {
        font-size: 3em;
    }
}

@media (min-width: 1100px) {
    .top-banner {
        justify-items: center;
        /* margin: 1em; */
        padding: 1;
        font-size: 2.5em;
    }
    .ad1 {
        padding-top: 23vh;
    }
    .material-icons.md-48 { font-size: 64px; }

    header h1 {
        font-size: 3.3em;
    }
    article h2 {
        font-size: 3em;
    }
    .memorial-day-banner h2 {
        font-size: 5em;
    }
    aside img {
        height:45% ;   
        width: 45%;
    }
}

@media (min-width: 1900px) {
    .top-banner {
        justify-items: center;
        /* margin: 1em; */
        padding: 1;
        font-size: 4em;
    }
    .ad1 {
        padding-top: 40vh;
    }
    .material-icons.md-48 { font-size: 100px; }
    aside img {
        height:55% ;   
        width: 55%;
    }
    .ad1 h2 {
        font-size: 8em;
    }
    p, summary {
        font-size: 5em;
    }
}