html {
    width: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    justify-content: left;
    width: 100%;
    margin:0 1em;
    padding:0 1em;
    background-color: rgba(37, 7, 9, 0.466);
    display: flex;
    flex-direction: column;
}

body header {
    margin:0 1em;
    padding:0 1em;
    background-color: rgba(245, 245, 220, 0.199);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body header img {
    margin: 1em;
    width: 20%;
}

.tools {
    margin:0 1em;
    padding:0 1em;
    display: flex;
    background-color: rgba(137, 43, 226, 0.103);
}

nav {
    margin: .1em;
    padding: .1em;
    text-align: left;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav a {
    text-align: left;
    background-color:rgba(245, 245, 220, 0.199)
}

section {
    justify-content: left;
    background-color: brown;
    width: 100%;
    padding: 0 1em;
    margin: 0 1em;
}

section header {
    justify-content: left;
    background-color:rgba(251, 255, 0, 0.301);
    font-size: 1em;
    padding: 0 1em;
}

h2 {
    font-size: 1em;
}

.options {
    height: 80%;
    display: flex;
    flex-direction: column;
}

article {
    background-color: rgba(0, 0, 0, 0.082);
    margin: 1em;
    border: 1px, black;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
}

article p {
    font-size: .8em;
    width: 100% 
}

aside {
    width: 100%; 
    height: 50%;
}

aside img{
    width: 70%;
    height: 50%;
}

@media (min-width: 750px) {

}

@media (min-width: 1100px) {
    
}

@media (min-width: 1900px) {

}