{% extends 'base.html' %}

{% block content %}

<h2>Hello {{ user.username }}</h2>
<div class="post-wall">
    <form action="" method="post">
        {% csrf_token %}
        {% for chirp in user.posts.all%}
            <p><b>{{ chirp.head }}</b> - {{ chirp.body }}</p>
            <a href="{% url 'posts:detail' chirp.pk %}">Detail</a>
        {%endfor%}
    </form>
</div>
{% comment %} <a href="{% url 'posts:posts' %}"><input type="reset"value="Cancel"></a> {% endcomment %}


{% endblock content %}