html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header, main, footer {
	padding: 1em;
    text-align: center;
    
}

.labels {
    display: block;
}


#numform {
    display: flex;
    flex-wrap: wrap;
    /* flex:content; */
    justify-content: center;
    /* text-align: center; */
    
}

#numchars {
    display: flex;
    justify-content: center;
    
}

#nc1 {
    padding: 1em;
}

#nc2 {
    padding: 1em;
}