header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsl(9, 56%, 69%);
    font-size: 2vw;
    text-align: center;
    text-size-adjust: 70px;
    background-color: hsla(0, 0%, 50%, 50%);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://preview.redd.it/ykv87rdlu9pz.jpg?auto=webp&s=e9a011fc6b4e337b07d8c36bdad54c20224d1f51");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: hsla(0, 0%, 50%, 50%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10vw
    
}

body p {
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1px 2vw 5px 2vw;
    background-color: hsla(0, 0%, 50%, 50%);
}

a {
    color: hsl(330, 100%, 71%)
}

ul, ol {
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    line-height: 1.6vw;
    
    
    padding: 0px 1vw 5px 2vw;
    background-color: hsla(0, 0%, 50%, 50%);
    
    display: table;
    margin: 0 auto;
}

li {
    list-style-type:upper-roman;

}

.center {
    color: hsl(9, 56%, 69%);
    text-align: center;
    border: 0.1vw solid rgb(24, 9, 90);
}