html {
    box-sizing: border-box;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsl(9, 56%, 69%);
    font-size: 2vw;
    text-align: center;
    text-size-adjust: 4vw;
    background-color: hsla(0, 0%, 50%, 50%);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://preview.redd.it/ykv87rdlu9pz.jpg?auto=webp&s=e9a011fc6b4e337b07d8c36bdad54c20224d1f51");
    background-repeat: repeat;
    background-size:cover;
    background-size: 100%;
    background-color: hsla(0, 0%, 50%, 50%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
    border-radius: 10vw
    
}

body p {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1vw;
    background-color: hsla(0, 0%, 50%, 50%);
    margin: 1em;
}

a {
    color: hsl(330, 100%, 71%)
}

ul, ol {
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 1.6vw;
    max-height: 75%;
    max-width: 75%;

    
    list-style-type:upper-roman;
    list-style-position:outside;

    padding: 1em;
    background-color: hsla(0, 0%, 50%, 50%);
    
    display: table;
    margin: 0 auto;
}

 ol li {
    list-style-type:upper-roman;
    list-style-position:outside;
    text-align: left;

}

pre {
    font-size: 1.4vw;
}

.center {
    color: hsl(9, 56%, 69%);
    text-align: center;
    border: 0.1vw solid rgb(24, 9, 90);
    max-width: 95%;
    max-height: 2%;
}