{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'grocery/styles.css' %}"/>
        <title>MY Grocery List</title>
    </head>
    <body>
        <header><h1>Your Little Grocery List</h1></header>
        <fieldset>
            <legend><h2>Need to add something?</h2></legend>
            <form action="{% url 'grocery:add' %}" method='post'>
                {% csrf_token %}
                <input type="text" name="created_item" placeholder="add item" id="created_item" maxlength="100" required>
                <select id="created_complete" name="created_complete" required>
                    <option value="" disabled selected hidden>Need or Have?</option>
                    <option value='False'>I Need</option>
                    <option value='True'>I Have</option>
                </select>
                <input type="submit" value="Add Item">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </form>
        </fieldset>
        <legend><h1>Grocerys You Already Have.</h1></legend>
            <ul>
                {% if have %}    
                    {% for new in have %}
                        <li><b><p>ITEM: </b>{{ new.created_item }}</p>
                            <b><p>Date Created: </b>{{ new.created_date }}</p>
                            <b><p>Acquired date: </b>{{ new.date_complete }}</p><br>
                            <div class = 'forms'>
                                <form action="{% url 'grocery:complete' new.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Add to Need">
                                </form>
                                <form action="{% url 'grocery:delete' new.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete">
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                <p>Nothing in your Have List</p>
                {% endif %}
                <hr>
            </ul>
        <legend><h1>Grocerys You NEED!</h1></legend>
            <ul>
                {% if need %}
                    {% for new in need %}
                        <li><b><p>ITEM: </b>{{ new.created_item }}</b></p>
                            <b><p>Date Created: </b>{{ new.created_date }}</p>
                            <form action="{% url 'grocery:complete' new.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Add to Have">
                            </form>
                            <form action="{% url 'grocery:delete' new.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        </li>
                    {% endfor %}
                {% else %}
                <p>Nothing in your Need List</p>
                {% endif %}

            </ul>


    </body>