{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shurl Home</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form action="{% url 'shurl:shortened' %}" method="POST">
        {% csrf_token %}
        <input type="url" name="long_url" id="long_url">
        <input type="submit" value="Shorten">
    </form>
</body>
</html>