body{
    display: flex;
    background-color: rgb(207, 206, 203);
    color: rgb(4, 55, 71);
}

main{
    font-family: 'Arsenal', sans-serif;
    font-size: 1.5em;
}

h1 a{
    font-family: 'Old Standard TT', serif;
    font-size: 3em;
    color: rgb(8, 99, 130);
    border: 5px solid whitesmoke;
    border-radius: 25px;
    padding: .1em;
}

p a{
    font-family: 'Playfair Display', serif;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.linkformat {
    text-decoration: none;
}

.post-container {
    width: 100vw;

}