.bg-steel {
    background-color: rgb(146, 196, 243);
}
body {
    background-color:  #5f788a;
}
.site-header {
    background-color: bisque;
}
.heading {
    font-size: 45px;
    text-align: center;
}

.logo {
    color:white;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.author {
    color:azure;
}
.blogs {
    color: rgb(105, 29, 48);
    text-indent: 40px;
}
.blog-content {
    text-indent: 20px;
    margin: 30px;
}
.list-group {
    color: white;
}
ul li a {
    color:white;
}
.sidenav {
    text-align: center;
}
list-group {
    background-color: black;
}
.picture-img {
    display: line;
    flex-wrap: wrap;    
}

@media only screen and (min-width: 0px) and (max-width: 530px) {
    .heading {
        font-size: 25px;
    }
    .logo {
        font-size: 20px;
    }
    .blog-content {
        font-size: 12px;
    }
    .rv {
        width: 225px;
        height: 150px;
        float: center;
    }
    h3 {
        font-size: 0px;
    }
    .list-group {
        font-size: 12px;
    }
    .abt {
        font-size: 12px;
        margin: 30px;

    }
}
@media (min-width: 531px) {
    .heading {
        font-size: 30px;
    }
    .logo {
        font-size: 20px;
    }
    .rv {
        width: 225px;
        height: 150px;
        float: right;
        margin-top: 2px
    }
    .blog-content {
        font-size: 20px;
    }
    .abt {
        font-size: 16px;
        margin: 30px;

    }
}
@media (min-width: 800px) {
    .heading {
        font-size: 40px;
    }
    .logo {
        font-size: 35px;
        text-align: center;
        flex-wrap: wrap;
    }
    .rv {
        width: 225px;
        height: 150px;
        float: right;
        margin-top: 15px;
    }
    .abt {
        font-size: 20px;
        margin: 30px;

    }
}
@media (min-width: 950px) {
    .heading {
        font-size: 55px;
    }
    .blog-content {
        font-size: 25px;
    }
    .blog-date {
        font-size: 20px;
    }
    .author {
        font-size: 20px;
    }
    .blogs {
        font-size: 25px;
    }
    .abt {
        font-size: 24px;
        margin: 30px;

    }
}
