{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'users:signin' %}" method='post'>
        {%csrf_token%}
        <div class='sign-in'>
            <input type='text' id='username' name='username' placeholder='Username' required='required'>
            <input type='text' id='password' name='password' placeholder='Password' required='required'>
            <input type='submit' value='Sign-In'>
        </div>
    </form>
    
    {%if not bsing%}
    <form action="{% url 'posts:bsignup'%}" method='post'>
        {% csrf_token %}
    <button type='submit' value='nothing'>Sign Up</button>
    </form>
    {%endif%}
    {% if bsing %}
    {% include 'users/signup.html' %}
    {% endif %} 
   

    

    <table>
        <tr>
            <form action='' method='post'>
                <input type='text' maxlength='128' id='newpost' name='newpost' placeholder="What's happening?">
            </form>
        </tr>
    {% for post in posts%}
        <tr>
            {{ post.title }}<br>
            {{ post.author }}, &nbsp; {{ post.created }}<br>
        </tr>    
        <tr>
            {{ post.body }}
        </tr>
        <hr>  
        
    {%endfor%}
    </tabel>
</body>
</html>