<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
<title>Dalton's List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %} ">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

</head>
<body>



<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Description</h1>
      <p> {{ description }}  <img class="one" src="{{ image }}" style="width:500px;height:600px" alt="House Picture"></p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">Bedrooms: {{ bedrooms }}</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">Bathrooms: {{ bathrooms }}</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">Zipcode: {{ zipcode }}</p>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Additional Information! </h1>
      <p>Address: {{ address }}<br> Living Area: {{ living_area}}<br>  HOA Fees? : None! <br> Wind Direction: {{ wdir }} <br> Temperature: {{ temp }}<br> Daily High: {{ maxt }} <br> Daily Low {{ mint }} <br> Visiblity {{ visibility }} <br> Wind Speed {{ wspd }} <br> Solar Energy: {{ solarenergy }} <br> Cloud Cover: {{ cloudcover }} </p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">Last Price: {{ last_price }} </p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">Lot Size: {{ lot_size }} </p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">Home Type : {{ home_type }} </p>
    </div>
  </div>

 
  
  </div>




 

</div>
<button onclick="history.back()">New Search!</button>


</body>
</html>
