<!DOCTYPE html>
<html lang="en">
  <head>
     
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
      
      <title></title>
      {% comment %} <link rel="stylesheet" type="text/css" href="css/mystyle.css"/> {% endcomment %}
  </head>
  <body>
   
 {{response}}

{% comment %} 
    <form action="https://webhook.site/bb8a70c3-c4a0-430a-988c-a72d3d5b365d" method="post">
      <label for="Enter your name">Enter your name here:</label><br>
      <input type="text" name="Enter your name"/><br>
     
 
      <label for="password">Enter your password here if you have an account with us:</label><br>
      <input type="password" id ="delivery" name = "delivery" label for ="delivery"> <br>
   

      <p>Select what type of Tortilla you would like</p>
      <input type="radio" name="burrito" value="flour" checked> White Flour<br>
      <input type="radio" name="burrito" value="w.flour"> Wheat Flour<br>
      <input type="radio" name="burrito" value="spinach"> Spinach<br>
      <input type="radio" name="burrito" value="corn" > Corn<br>

      <p>Select either White or Brown Rice</p>
      <input type="radio" name="rice" value="w.rice"checked> White Rice<br>
      <input type="radio" name="rice" value="b.rice"> Brown Rice<br>
      <p>Select either Pinto or Black Beans</p>
      <input type="radio" name="beans" value="black.beans" checked> Black Beans<br>
      <input type="radio" name="beans" value="pinto.beans"> Pinto Beans<br>
  

      <p>Please choose what type of protein you would like for your Burrito</p>
      <input type="radio" name="protein" value="male" checked> Carnitas<br>
      <input type="radio" name="protein" value="female"> Chicken<br>
      <input type="radio" name="protein" value="other"> Sofritas<br>
      <input type="radio" name="protein" value="male"> None<br>
      <p>Check these boxes if you would like to add Cheese or Sour Cream!</p>
      <input type="checkbox" id="add.ingredients" name="Cheese" value="Cheddar">
      <label for="Add Cheese"> Additional Cheese</label><br>
      <input type="checkbox" id="add.ingredients" name="Sour Cream" value="Sour">
      <label for="Add Cream"> Additional Sour Cream</label><br>
      <p>Enter any special delivery instructions here!</p>
      <textarea>Enter any delivery instructions here!</textarea><br>
      <button type="submit">submit</button><br>

    </form> {% endcomment %}
  </body>
</html>