<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Unit Converter</p>
    <form method="POST">
        <input name="distance"><br>
        <label for="units">Original Unit:</label>
        <select name="units" id="units">
        <option value="ft">ft</option>
        <option value="mi">mi</option>
        <option value="m">m</option>
        <option value="km">km</option>
        <option value="yard">yard</option>
        <option value="inch">inch</option>
        </select>
        <method="POST">
        
    </form>
    <form method="POST">
        <label for="units">New Unit:</label>
        <select name="units" id="units">
        <option value="ft">ft</option>
        <option value="mi">mi</option>
        <option value="m">m</option>
        <option value="km">km</option>
        <option value="yard">yard</option>
        <option value="inch">inch</option>
        </select>
        <method="POST">

            <p>The result is {{result}}</p>
            {% if  == 'ft' %}
            <p>cold</p>
            {% elif temperature < 80 %}
            <p>warm</p>
            {% else %}
            <p>hot</p>
            {% endif %}
        
        
    </form>

    </ul>
</body>
</html>