body {
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000");
}

h1 {
    font-size: 75px;
    font-family: "American Typewriter";
    font-weight: 100;
}

img {
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 250px;
    margin-right: 250px;
}

a {
    color: navy;
}

#list {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 72px
}

ul {
    list-style-type: square;
    list-style-position: inside;
    font-size: 56px
}

#description {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

#quote {
    color: white;
    background-color: black;
    font-family: 'American Typewriter';
    font-size: 32px;
}