{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Ultra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'url_shortenerapp/main.css' %}">
</head>
<body>
    <header>
        <h1 >URL Shortener</h1>
    </header>
    <main>
        <form action="{% url 'url_shortener:index'%}" method="post">
            {% csrf_token %}
            <label for='longurl'>Enter Your URL:</label>
            <input type='text' name='longurl' id='longurl'>
            <button type='submit'>Shorten</button>
        </form>
        <h2>URLs:</h2><br>
        {% for item in url_list %}
        <p>Long URL:</p><br>
        <p>{{item.long_url}}</p>
        <p>Short URL:</p><br>
        <p><a href="{% url 'url_shortener:redirect' item.short_url%}" target='_blank'>{{item.short_url}}</a></p>
        <hr>
        {% endfor %}
    </main>
</body>
</html>