{% load static %}

<link rel="stylesheet" href="{% static 'urlshortener/style.css'%}">
   
<body>
    {%if stupid %}
    <table>
        <tr>
            <th>Short Url</th>
            <th>Actual Url</th>
            <th>Click Amount</th>
        </tr>
        {% for urlshort in stupid %}
        <tr>
            <td>{{urlshort.surl}}
            <td>{{urlshort.ourl}}
            <td>{{urlshort.num_clicked}}
        </tr>
        {% endfor %}
    </table>
    {%endif%}
    <h1>New Short Url</h1>
    <form action="{% url 'urlshortener:newurl' %}" method='POST'>
        {% csrf_token %}
        <input type='text' name='ourl' id='ourl' placeholder='Orginal Url Here'><label for='ourl'>Orignal Url</label>
        <input type='submit' value='Submit'>
    </form>
    
    
    <p>something</p>
</body>
