<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <h2>To Do List</h2>
    <div id="app">
        <input type="text" v-model="inputField">
        <button v-on:click="addTodo">Add To List</button>
        <ul>
            <li v-for="todo in todos">
                {{ todo.text + ' '}}<button v-on:click="removeTodo(todo)">×</button>
            </li>
        </ul>
        <!-- <p v-for="todo in todos">
            {{ todo.text + ' '}}<button v-on:click="removeTodo(todo)">×</button>
        </p> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/site.js"></script>
</body>
</html>