<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    
    <div id="task">
        <h1>Task List</h1>
        <div>
            <input type="text" placeholder="add a task" v-model="newTaskText" @keyup.enter="addTask">
            <button @click="addTask">Add a task</button>
        </div>
        <ul>
            <li v-for="task in notComplete" :key="task.id">
                {{ task.text }}
                <input type="checkbox" v-model="task.completed">
                <button @click="removeTask(task)">-</button>
            </li>
        </ul>
        <h3>Completed</h3>
        <ul>
            <li v-for="task in isComplete">
            {{ task.text }}
            <input type="checkbox" v-model="task.completed" :key="task.id">
            <button @click="removeTask(task)">-</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="todos.js"></script>
</body>
</html>