<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'grocerylist/main.css' %}">
</head>
<body>
    <div>
        <h1>Grocery List</h1>
    </div>
    <div>
        <ul>
            {% for item in latest_grocerylist %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>

    
</body>
</html>