html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    height: 100%;
    background-color: rgba(227, 238, 188, 0.317);
}
html{
    display: table;
    margin: auto;
    padding: center;
    box-sizing:border-box;
}
/* body{
    margin: 68px;
    
} */

p{
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: 100%;

}
h1{
    background-color: teal;
    color:rgb(226, 240, 241);
    font-size: 250%;
    text-align:center;

}

a{
    color: rgb(52, 112, 116);
    text-align: center;
    line-height: 1.25;
}
.gallery-item{
    border: 3px solid rgba(137, 144, 113, 0.317);
}

img {
    /* display:flex; */
    display: block;
    margin: 35px; ;
    /* margin-left: auto;
    margin-right: auto; */
    /* display: inline-flex;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-start;
    /* flex-basis: content;   */
    border: 2px solid black;
    width: 75%;
  } 
  div{
      /* width: 115%; */
      background-size: auto;
      flex-direction: column;
      display: inline-flex;
      align-items: flex-start;
      justify-content: flex-start;
      /* border: 1px solid black; */
      flex-basis: content;
      padding: 1em;
      
  }
  .intro{
    background-color: teal;
    color:rgb(240, 248, 248);
    font-size: 100%;
    text-align:center;
   
}


  footer{
      padding:2em;
      font-size: 30%;
  }
  
@media (min-width: 720px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    header, main, footer {
        padding: 1em;
    }

    header {
        padding-right: 1em;
    }

    .flex-gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        margin: 0 -1em;
    }

    .gallery-item {
        width: 50%;
        padding: 2 2em;
        align-items: center;
        text-align: center;
    }
    }
    @media (min-width: 1100px) {
        .gallery-item {
            width: 15%;

        }
    
        header {
           
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
        /* .gallery-item {
            display: grid;
            grid-template-columns: repeat(5, 5fr);
            grid-template-rows: repeat(6, 10vw);
            grid-gap: 1px;
        } */
        .flex-gallery{
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
        }
        .intro{
           padding: 2em;
           padding-right: 10em;
           padding-bottom: 4em;
           text-align: center;
        }
    }
   

