header  {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    justify-content: center;
    background-color: rgb(160, 100, 73);
}

main {
    background-image: url('burrito.png');
    background-repeat: no-repeat;
}

main img {
    float: right;

}

nav {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

nav p   {
    margin: 30px;
    
}

.id {
    font-size: 40px;

}
.account    {
    flex-wrap: flex;
    width: 500px;
    margin: 24px;
    font-size: 18px;
}

a   {
    color: white;
}

main    {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("");
    background-repeat: no-repeat;

}

.menu   {
    margin: 25px;
    
}

h3 {
    font-size: 25px;
}

.tortilla   {
    width: 200;
    margin: 24px;
    font-size: 20px;
    height: 100px;

}

.rice   {
    width: 250px;
    height: 60px;
    margin: 24px;
    font-size: 20px;
    flex-wrap: wrap;
}

.beans  {
    width: 250px;
    height: 65px;
    margin: 24px;
    font-size: 20px;
    flex-wrap: wrap;
}

.meat   {
    width: 300px;
    margin: 24px;
    font-size: 20px;
    flex-wrap: wrap;
}

.addons {
    width: 200px;
    height: 117px;
    margin: 24px;
    font-size: 20px;
    text-align: left;

}

.instructions {
    width: 150px;
    height: 115px;
    margin: 20px;
    font-size: 20px;
}

.h9 {
    font-size: 24px;

}

.buttons {
    background-color: blue;
    color: white;
    border: 0;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
}

.line {
    font-size: 18px;
}
