{% load static %}
<link rel="stylesheet" href="{% static 'groceries/style.css'%}">
<body>
    <form action="{% url 'groceries:delete' %}" method='POST'>
        {% csrf_token%}
        <input type='submit' value='DELETE_ITEMS'>
    </form>
    <form action="{% url 'groceries:status' %}" method='POST'>
        {% csrf_token%}
        <input type='submit' value='Update Status'>
    </form>
    
    {% if recent_item %}
        <table>
            <tr>
                <th>Item Name</th>
                <th>Item Quantity</th>
                <th>Created Date</th>
                <th>Complete Date</th>
                <th>Completed Status</th>
            </tr>
            {% for gitem in recent_item %}
            <tr>
                <td>{{gitem.item_text}}
                <td>{{gitem.item_num}}
                <td>{{gitem.cdate}}
                <td>{{gitem.comdate}}
                <td>{{gitem.status}}
                </tr>
            {% endfor %}
            </table>
    {% else %}
        <p>No items available.</p>
    {%endif%}
    <form action="{% url 'groceries:createitem'%}" method="post">
        <div class='newitem'>
                {% csrf_token %}
                <h1>New item</h1>
                <label for="gitem_text">Item Name</label><input type="text" name="item_text" id="item_text" value=""><br>
                <label for="item_num">Item number</label><input type="text" name="item_num" id="item_num" value=""><br>
                <label for="comdate">Completion Date</label><input type="date" name="comdate" id="comdate"><br>
                <input type="submit" value="create">
        </div>
            </form> 
    
</body>