<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
</head>
<body>
    <header>
        <h1>URL Shortener</h1>
    </header>
    <div>
        <p>Fill in the url box below and hit submit</p>
        <form action="{% url 'urlshortener:index' %}" method="POST">
            {% csrf_token %}
            <label for="long-url"></label>
            <input type="text" name="long_url" id="long-url">
            <input type="submit">
        </form>
        {% for url in urls %}
            <p><a href="{% url 'urlshortener:redirect' url.code %}">mynewlink/{{ url.code }}</a></p>            
        {% endfor %}
    </div>
</body>
</html>