<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROT encryption form</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Outfit:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
    <body>
        <main>
            <form action="" method="POST">
                <label for="user_string">Enter a letter or word you would like encrypted: </label> <br><br>
                <input type="text" name="user_string" id="user_string">
                <input type="submit" value="submit">
            </form>
            {% if encryption %}
            <p>'{{user_string}}' encrypted is: {{encryption}}<p>
                
            {% endif %}
        </main>
    </body>
</html>