{% if user.is_authenticated %}
<h1>Welcome {{ user.username }}!</h1>
<p><a href="{% url 'logout' %}">Logout</a><p>
{% else %}
<h1>Welcome, visitor!</h1>
<p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
{% endif %}

<h1>Pokemon of the Kanto Region</h1>
<main id="app" style="display:flex; justify-content:space-between; max-width:600px;">


    <div>
        <h3>To Catch</h3>
        <ol>
            <li v-for='poke in pokemon' :key='pokemon.number'>
                <p>[[ poke.name ]]</p>
                <input type='button' value='Catch' id='isCaught' @click='catchPokemon(poke.name)' :key='poke.name'>
        
            </li>
        </ol>
    </div>

    <div>
        <h3>Caught</h3>
        <ol>
            <li v-for='poke in caughtPokemon' :key='pokemon.number'>
                <p>[[ poke ]]</p>
                <input type='button' value='Release' id='toRelease' @click='releasePokemon(poke.name)' :key='poke.name'>
                
            </li>
        </ol>
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>

    const vm = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            pokemon: [],
            users: [],
            currentUser: {},
            caughtPokemon:[]  
        },
        methods: {
            loadPokemon: function() {
                axios({
                    method: 'get',
                    url: 'api/v1/pokemon',
                }).then(response => this.pokemon = response.data)
                    console.log(this.pokemon.id)
            },
            loadUsers: function() {
                axios({
                    method: 'get',
                    url: 'api/v1/users',
                }).then(response => this.users = response.data)
            },
            loadCurrentUser: function() {
                axios({
                    method: 'get',
                    url: 'api/v1/currentuser',
                }).then(response => this.currentUser = response.data)
            },
            catchPokemon: function(poke_id) {
                this.caughtPokemon = this.currentUser.caught
                this.caughtPokemon.push(poke_id)
                axios({
                    method: 'patch',
                    data: {
                        caught: this.currentUser.caught
                    }
                }).then(response => {
                    this.loadPokemon()
                })
            },
            releasePokemon: function(poke_id) {
                this.caughtPokemon.splice(this.caughtPokemon.indexOf(poke_id))
                axios ({
                    method: 'patch',
                    data: {
                        caught: this.currentUser.caught
                    }
                }).then(response => {
                    this.loadPokemon()
                })
            }
        },
        created: function() {
            this.loadPokemon()
            this.loadUsers()
            this.loadCurrentUser()
        }
    })
</script>