/* https://static.wikia.nocookie.net/swordartonline/images/3/3e/Laughing_Coffin_Logo.png/revision/latest?cb=20130527204544 */
html {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    padding: .3em;
    max-width: fit-content
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 6vw;
    margin: 1vw
}

header img {
    max-width: 90%;
}

.services {
    display:flex;
    flex-wrap: wrap;
    margin: 0 ;
    font-size: 4vw;
}

.position {
    display:flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;  
}


@media (min-width: 750px) {
    
    
    .members {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1em;
    }

    img {
        max-width: 25%;
    }
    


    
}    

