<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'grocery_list/main.css' %}">
    <title>Grocery List</title>
</head>
<body>
    <main>
        <div class="list-container">
            <div class="needed-container">
                <h2>Groceries Needed</h2>
                <ul>
                    {% for item in grocery %}
                        
                    {% if item.is_complete != True %}
                        <li> {{item.grocery_text}} -- Created: {{item.date_created}}</li>
                    {% endif %}

                    {% endfor %}
                </ul>
            </div>

            <div class="bought-container">
                <h2>Groceries Bought</h2>
                <ul>
                    {% for item in grocery %}
                        
                        {% if item.is_complete == True %}
                            <li> {{item.grocery_text}} -- Completed: {{item.date_completed}}</li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </div>
        </div>
        <form action="{% url 'grocery_list:create' %}" method="post">
        {% csrf_token %} 
        <fieldset>
            <legend>
                <h1>Add Grocery Item</h1>
            </legend>
                <label for="grocery_text">Add Grocery Item: </label>
                <input type="text" name="grocery_text" id="grocery_text">
        </fieldset>
        <input type="submit" value="submit">
        </form>
        <form action="{% url 'grocery_list:complete' %}" method="post">
        {% csrf_token %} 
        <fieldset>
            <legend>
                <h1>Bought Grocery Item</h1>
            </legend>
            <label for="completed_grocery">Which groceries have you bought? </label>
                    <select name="completed_grocery" id="completed_grocery" multiple>
                        {% for item in grocery %}
                                <option value=""> </option>
                            {% if item.is_complete != True %}
                                <option value="{{item}}">{{item}}</option>   
                            {% endif %}     
                        {% endfor %}
                    </select>
        </fieldset>
        <input type="submit" value="submit">
        </form>
    </main>
</body>
</html>