.flex_box {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-grow: 1;
}

.content_card {
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content_card img {
    max-width: 85%;
    max-height: 50%;
    margin-top: 25px;
}