<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SIGN UP</title>
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="stlyes.css"/>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <button type="submit">Sign-Up</button>
        </form>
    </body>

    {% comment %} {% url 'chirp:'%} {% endcomment %}