{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'posts:home_page' %}" method='post'>
        {% csrf_token %}
        <input type='submit' value='Home Page'>
    </form>
    <form action='' method='post'>
    </form>
    {% if user_profile %}
        <p>Username: {{user_profile.username}}
    {%endif%}
</body>
</html>