{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp!</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Outfit:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel ="stylesheet" hred="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'posts:home' %}"><h1>Chirp</h1></a>
       
            {% if user.is_authenticated %}
            <p><a href="{% url 'users:profile' user.username %}">{{ user.username }}</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
      
            {% else %} 
                <p><a href="{% url 'login' %}">Login</a></p>
                <p><a href="{% url 'users:signup' %}">Sign Up</a></p>
            {% endif %}

        </header>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>