<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" hred="{% static 'css/main.css'}">"
    <title>Chirp!</title>
</head>
<body>
    <header>
        <a href="{% url 'posts:home' %}"><h1>Chirp</h1></a>
        <div class ="right-nav">
            {% if user.is_authenticated %}
            <p><a href="{% 'user:profile' profile.username %}">{{ user.username }}</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
        {% else %} 
            <p><a href="{% url 'login' %}">Login</a></p>
            <p><a href="{% url 'users:signup' %}">Sign Up</a></p>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>