<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <header>
      <h1>Blog Of All Things</h1>
        <nav>
            <a href="/html/">Home</a> |
            <a href="/css/">About</a> |
            <a href="/js/">Post</a> |
            <a href="/python/">Contact Us</a>
          </nav>
    </header>
  </head>
  <body>
    <h1> Welcome</h1>


    {% for post in posts %}
        <h2>{{post.title}} </h2>
        <h3>{{post.author}} </h3>
        <h4>{{post.date}} </h4>
        <p>{{post.body}} </p>

    {% endfor %}
  </body>
</html>

