
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .chopped {
            border: 1vh solid black;
        }
    </style>
</head>
<body>

    <form action ="{% url 'choppa:url_chop' %}" method="post" id="testid">
        
                {% csrf_token %}
               
                <!-- <input type="hidden" name="url" id='url' value ="https://www.google.com/search?source=hp&q=this+is+a+long+url&oq=this+is+a+long+url&gs_l=psy-ab.3..0i22i30k1.1095.3196.0.3437.19.18.0.0.0.0.137.1480.14j4.18.0....0...1.1.64.psy-ab..1.18.1477.0..0j35i39k1j0i131k1j0i67k1j0i20i264k1j33i22i29i30k1.0.aJvctrIr-Ds"> -->
                <textarea id ='url' name = 'url' rows="8" cols="50">https://www.google.com/search?source=hp&q=this+is+a+long+url&oq=this+is+a+long+url&gs_l=psy-ab.3..0i22i30k1.1095.3196.0.3437.19.18.0.0.0.0.137.1480.14j4.18.0....0...1.1.64.psy-ab..1.18.1477.0..0j35i39k1j0i131k1j0i67k1j0i20i264k1j33i22i29i30k1.0.aJvctrIr-Ds</textarea>
                <label for='url'>Url</label>
                
                <button>submit</button>
        

            </form>
    
    <h1>Enter your url for the Url_Choppa to do it's magic!</h1>
            {% if url_chopped %}
            {% for url in url_chopped  %}

    <div class="chopped">
    <textarea rows="2.5" cols="35">https://web.url.{{url.url_code}}</textarea>
    <a href="{% url 'choppa:index' %}">refresh</a>
    <details>
        <summary>
            Long Url:
        </summary>
        {{url.url}}
    </details>
    <form action="{% url 'choppa:remove' %}" method="post">
        {% csrf_token %}
        <fieldset>
            
            <input type="hidden" name="remove" value ={{url.id}}>
            <button>Delete</button>
        </fieldset>
    </form>
        
    </div>
    {% endfor %}    

    {% endif %}
    <!-- <form method="get" id="testformid">
    <input type="submit" />
    </form> 
    <textarea form ="testformid" name="taname" id="taid" cols="35" wrap="soft"></textarea> -->
</body>
</html>