body {
    background-color: rgb(139, 137, 137);
    width: 800px;
    text-align: left;
    margin-left: 400px;

}
.line {
    font-size: 20px;
}
.search-input {
    font-size: 20px;

}
.submitbtn {
    font-size: 20px;
    margin-left: 10px;
}
.quote {
    font-size: 20px;
    background-color: rgb(123, 123, 151);
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}