html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

main {
    padding: 1em;
    display: none;
}

a {
    color: #731728;
}

a:hover {
    color: #3B9ABF;
}
body {
    background-color: #1C1C24;
    color: #f0dacd;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5em;
    margin: 0em;
    padding: 0em;
}

nav {
    order: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 1em;
}
footer {
    width: 100%;
    max-width: 1210px;
    color:#1C1C24;
    background-color: rgba(255, 212, 72, 0.829);
    text-align: center;
    margin: 0em;
    padding: 1em 0em;
    border: solid #3B9ABF .5em;
}

footer a {
    padding: .25em;
}

header {
    margin: 0;
    padding: 0em;
    display: flex;
    flex-flow: column nowrap;
    align-items: space-around;
    margin: 0;
    padding: 0;
    width: fit-content;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h3 {
    color:rgba(255, 212, 72, 0.829);
    text-align: end;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka', sans-serif;
}

a {
    font-weight: 500;
}

header h3 {
    display: none;
    /* hae display at larger screen sizes */
}

nav p {
    width: 33.33%;
    padding: .5em 0em;
    margin: 0em
}

nav a {
    color:rgba(255, 212, 72, 0.829);
    margin: 0em;
    padding: .5em;
}

.main-image {
    order:2;
    max-width: 100%;
    border: solid .5em #1C1C24;
}

.title {
    display: flex;
    flex-flow: column nowrap;
    order: 1;
    margin: 0em;
    background-color: #3B9ABF;
    color:#1C1C24;
    border:rgba(255, 212, 72, 0.829) solid .5em;
    /* consider changing this for larger screen sizes and putting the title on upper left hand corner of image */
}

.blog-preview {
    text-align: center;
}

.blog-preview p {
    text-align: justify;
    line-height: 1.25em;
    padding: 1em;
}

.blog-preview h3 {
    border-bottom: #731728 solid .5em;
    padding: 0em .5em;
    margin: .5em 0em 0em 0em;
}

.main-container {
    width: 100%;
    max-width: 1210px;
    margin: 0em;
    padding: 0em;
}

.preview-title {
    text-align: center;
    margin: 0em;
    padding: .05em 1em;
    color: #3B9ABF;
}

.author-date p{
    text-align:end;
    font-size: .75em;
    margin: 0em;
    padding: .15em .5em;
    background-color: #3B9ABF;
    color: #1C1C24;
}

@media (max-width: 349px) {
    h1 {
        font-size: 2em;
    }
}

@media (min-width: 500px) {
    h1 {
        font-size: 3em;
        padding: 0em;
        margin: 0em;
    }

    header h3 {
        display:contents;
        padding: .5em;
    }

    nav p {
        width: 25%;
    }
}

@media (min-width: 1000px) {
    nav p {
        width: 12.5%
    }
}

@media (min-width: 1210px) {
    body {
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
    }
    
    header {
        width: 100%;
        flex-flow: row wrap;
        margin-bottom: .5em;
        max-width: 1510px;
    }
    
    .title {
        width: 100%;
        max-width: 1510px;
    }
    .main-image {
        width: 80%;
        max-width: 1210px;
        border: none;
        border-bottom: solid .5em rgba(255, 212, 72, 0.829);
        border-right: solid .5em #3B9ABF;
    }

    nav {
        flex-direction: column;
        width: 20%;
    }

    nav p {
        font-size: 1.5em;
    }

    .main-container {
        max-width:1510px;
    }

    footer {
        width: 100%;
        max-width: 1510px;
    }
}