<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>My Blog</title>
</head>
<body>
    <header>
        <h4 class="title">Blog Site</h4>
        <hr>
        <nav class="container">      
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/">Blog</a>
            <a class="nav-link" href="/">Github</a>            
        </nav>
    </header>
    <main>
        <sidebar class="flex left"></sidebar>
        <section>
            <ul>
            {%  for post in posts %}
            <div class="post-card">
                <h3 class="post-title">{{post["title"]}}</h3>
                <hr>
                <p class="post-textarea">{{post["body"]}}<br>-{{post["author"]}}</p>
            </div>
            {% endfor%}
            </ul>
        </section>
    </main>
    <footer></footer>
</body>
</html>