body {
    background-color: rgba(255, 192, 203, 0.305);
    font-size: 3vh
}
.add {
    padding:2vh;
    background-color: rgba(88, 110, 255, 0.382);
    width:45%;
    font-size: 2vh;
    gap: 1vh;
    position: fixed;
    line-height: .5vh;
    /* word-wrap: normal; */
    height: 100%;
}

.add li {
    font-size: 3vh;
}

.item {

    display: flex;
    flex-direction:column;
}
.list_area{
    gap:1vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 55vw;
}

fieldset {
    background-color:rgba(223, 255, 196, 0.451);
}
legend {
    text-transform: uppercase;
}
.list_area_h1 {

    margin-top:0;
    width:35vw;
    background-color:rgba(255, 110, 110, 0.553);
    padding: 1vh;
    border: .5vh solid black;
    position:fixed;
    margin-left: 55vw;
    margin-bottom:3vh;
}
.list_area span {
    border-radius: 2vh;
    font-size: 3vh;
}
nav {
    display: flex;
    flex-direction: column;
    gap:1vh;
}
.nav_item {
    display: flex;
    flex-direction: row;
}
.nav_item span {
    border-radius: 2vh;
    font-size: 2vh;
}
.item {
    padding-top: 4vh;
    margin: 0;
    /* width: 33.33%; */
    height: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.create, .fulfilled {
    font-size: 2vh;
}
a {
    color: black;
    text-decoration-line: none;
}
a:hover {
    color:rgb(255, 110, 110)
}
