<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Title</title>
</head>
<body>
    <header>
        <h1>Zamsha</h1>
    </header>
    <main id="app">
        <div>
            <input type="text" v-model="searchTerm" placeholder="Enter Artist">
            <button @click="loadResults">Enter</button>
        </div>
        <div v-if="Object.keys(searchResults).length" class="artist-info">
            <h3>Showing results for {{ artist }}</h3>
            <ol>
                <h3>Top 5 Tracks</h3>
                <li v-for="track in hit">
                    <p><a :href="track.track.url">{{ track.track.title }}</a></p>
                </li>
            </ol>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>