<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Title</title>
</head>
<body>
    <main id="app">
        <div class="grid-container">

            <header class="grid-item grid-item-1">
                <h1>Zamsha</h1>
            </header>
            
            <div class="grid-item grid-item-3">
                <input type="text" v-model="searchTerm" placeholder="Enter Artist">
                <button @click="loadResults">Enter</button>
            </div>

            <div v-if="Object.keys(searchResults).length" class="grid-item grid-item-4">
                <h3>Showing results for {{ artist }}</h3>
                <img id="artist-image" :src="imageSrc" :alt="artist">
                <ol id="top-tracks">
                    <h3>Top Tracks</h3>
                    <li v-for="track in hit" :key="track.key">
                        <p><a :href="track.track.url">{{ track.track.title }}</a></p>
                    </li>
                </ol>
            </div>

            <div class="grid-item grid-item-2">
                <h3>Top Tracks in Portland, OR </h3>
                <ol>
                    <li v-for="ptrack in portlandTracks" :key="ptrack.key">
                        <p>{{ ptrack.title }} - {{ ptrack.subtitle }}</p>
                    </li>
                </ol>
            </div>

        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>