*, *::after, *::before {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 200px;
    max-height: 200px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
