*, *::after, *::before {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 400px;
    max-height: 400px;
}

.grid-container {
    display: flex;
    justify-content: space-between;
}
