{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'grocerylist_app/main.css' %}">
</head>
<body>
    <form action="{% url 'grocerylist_app:add' %}" method="post">
        {% csrf_token %}
            <legend><h3>Add Item To List</h3></legend>
            <label for="grocery_item_name">Item Name</label>
            <input type="text" name="grocery_item_name" id="grocery_item_name"/><br>
            <label for="completed">Completed</label>
            <input type="checkbox" name="completed" id="completed"/><br>
            <label for="completed_date">Completed Date</label>
            <input type="datetime-local" name="completed_date" id="completed_date"/><br>
            <input type="submit" value="Add">
    </form>

    <hr>

    {% if grocery_list %}
        <h1>Grocery List</h1>
            <h3>Need to get:</h3>
            <ul>
                {% for item in incomplete_items %}
                    {% comment %} <p>{{ item.grocery_item_name }}</p> {% endcomment %}
                    <li>{{ item.grocery_item_name }}
                        <form action="{% url 'grocerylist_app:update' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Got it!">
                        </form>
                        <form action="{% url 'grocerylist_app:delete' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                    </li>
                {% endfor %}
            </ul>
            <br>
            
            <h3>Already got:</h3>
            <ul>
                {% for item in completed_items %}
                    <li>{{ item.grocery_item_name }}  (got it {{ item.completed_date }})
                        <form action="{% url 'grocerylist_app:update' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Still need">
                        </form>
                        <form action="{% url 'grocerylist_app:delete' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                </li>
                {% endfor %}
            </ul>
    {% else %}
        <p>Your grocery list is empty.</p>
    {% endif %}
</body>
