html {
    width: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    
    background-color:rgba(37, 35, 69, 0.898);
    padding-top: 1vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    /* width: 100vh; */
    text-align: center;
}

nav {
    margin: 1em;
    font-size: 2vh;
    text-transform: uppercase;
}

nav a {
    box-shadow: .5vh .51vh .5vh rgba(0, 0, 0, 0.317);
    text-shadow: .5vh .51vh .5vh rgba(0, 0, 0, 0.317);
    border-radius: 5vh;
    padding: 1vh;
    background-color: rgba(234, 148, 44, 0.268);
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(255, 151, 151, 0.801);
    font-size: 2vh;
    margin: 1vh;
}

nav a:hover {
    padding:1.5vh;
    text-shadow: 0 0 1vh pink;
    box-shadow: 0 0 1vh pink;
}
.social-media {
    gap:1%;
    margin-left: 10%;
    margin-top: 2.5vh;
    justify-content: flex-start;
    /* text-align:left; */
    /* align-items: center; */
    display:flex;
    flex-direction: row;
}

.social-media i {
    box-shadow: .5vh .51vh .5vh rgba(0, 0, 0, 0.211);

    background-color:rgba(171, 112, 39, 0.483);
    padding: 1vh;
    margin: 2vh;
    border-radius: 15vh;
    border: .1vh solid black;
    font-size: 2.53vh;
}

i:hover {
    /* padding:1.5vh; */
    text-shadow: 0 0 1vh pink;
    box-shadow: 0 0 1vh pink;
}

.social-media li {
    list-style: none;
}

.about-banner {
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 1vh;
    padding-bottom: 1vh;
    /* height: 80vh; */
    /* transform-style: ; */
    /* background-image: conic-gradient( grey,rgba(0, 0, 0, 0.367),rgba(0, 98, 255, 0.376), rgba(0, 0, 0, 0.197),grey, white, white rgba(0, 0, 0, 0.256), grey, white, rgba(0, 0, 0, 0.528), rgba(0, 0, 0, 0.328), white, white, grey, grey) */
}

.about-banner img {
    box-shadow: 0 0 10vh rgb(75, 28, 28);
    margin-top: 3.5vh;
    margin-bottom: .51vh;
    /* padding: .5vh; */
    height: 20vh;
    width: 20vh;
    /* border-radius:15vh; */

}

.about-banner h1 {
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(154, 146, 243);
    text-shadow:.05vh .5vh rgba(0, 0, 0, 0.995);
    font-size: 5vh;
}
.about-banner h2 {
    font-family: Arial, Helvetica, sans-serif;

    font-family:monospace;
    color: rgba(0, 0, 0, 0.353);
    text-shadow:.1vh .5vh rgb(192, 112, 20);
    font-size: 2.5vh;
    padding-bottom: 2vh;
}
summary{
    font-family: Arial, Helvetica, sans-serif;
    height: 5vh;
    /* height: 5vh; */
    justify-content: center;
    text-align: center;
    margin: 2vh;
    border: .5vh solid black;
    border-radius: .5em;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: blanchedalmond;
    font-size: 1.5vh;
    width: 15vh;
    /* padding:1em; */

    width: 50%;
}
summary:hover {
    border: .5vh solid blue;
    font-size: 1.9vh;
    width: 15vh;
    text-align: center;
    /* height: 5vh; */
    margin-left:1vh;
    margin:.755vh;
}

article section {

    display: flex;
    flex-wrap: wrap;
    border: .1em solid black;
    background-color:rgb(255, 255, 255);
    width: 100%;
}

aside {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 255, 255);

    /* width: 100vh; */
    display: flex;
    flex-direction: row;
    margin: 1vh;
    /* width: 80vh; */
    border: .15em solid black;
    background-color:rgba(174, 14, 14, 0.525)
}


details aside {
    background-color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

    /* padding: 2vh; */
    display: flex;
    flex-direction: row;
    
    /* width: 75vh; */
    /* text-align: right; */
    /* line-height: 2; */
    font-size: 1.5vh;
    margin: 1vh;
    padding: 1vh;
}

.blog-posting {
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 1vh;
    border: .25vh solid rgba(0, 0, 0, 0.474);
    /* font-family: 'Special Elite', cursive; */
    box-shadow: 0 0 10vh rgb(247, 235, 235);
    margin-top: 2.5vh;
    background-color:rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    flex-direction:column ;
}



article {
    background-color:rgb(255, 255, 255);
    /* width: 50vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: 4; */
    justify-content: left;
    /* align-items: space-around; */

}

details h1 {
    font-size: 2.5vh;
    background-color:rgb(255, 255, 255);
}


header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 1vh rgba(85, 0, 255, 0.252);
    text-shadow: 0 0 1vh rgba(255, 255, 255, 0.174);
    /* align-content: center */
    /* width: 80%; */
    padding: 1vh;
    margin:1vh;
    background-color: rgb(255, 255, 255);
    font-size: 2.5vh;
}
header h2 {
    font-family: Arial, Helvetica, sans-serif;
    height:1vh;
    margin: 1vh;
    padding: 1vh;
    text-align: left;
    font-size: 2vh;
}
.box {
    line-height: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    border: .2vh dotted rgba(0, 0, 0, 0.155);

    font-weight: 400;
    box-shadow: 0 0 1vh white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}   

section h1{
    font-family: Arial, Helvetica, sans-serif;

    margin: 1vh;
    padding: 1vh;
    align-content: left;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.55);
    /* margin: 1vh; */
    /* width: 25%; */
}
section .box {
    font-family: Arial, Helvetica, sans-serif;

    /* height: 20vh; */
    /* font-size: 10vh; */
    background-color: rgba(255, 255, 255, 0.28);
    /* margin: 1vh; */
    /* width: 65%; */
}

.box h1 {
    border: .2vh dotted rgba(0, 0, 0, 0.155);

    letter-spacing: .1vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 520;
    /* width: 50%; */
    text-align: left;
    margin: 1vh;
    padding: 1vh;
    background-color: rgba(165, 42, 42, 0.049);
    font-size: 2vh;
}

.box p {

    border: .2vh dotted rgba(0, 0, 0, 0.155);
    font-weight: 520;
    letter-spacing: .1vh;
    line-height: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 50%; */
    text-align: left;
    margin: 1vh;
    padding: 1vh;
    font-size: 1.8vh;
    background-color:rgba(75, 28, 28, 0.084)
}

section p {
    border: .2vh dotted rgba(0, 0, 0, 0.155);

    font-family: Arial, Helvetica, sans-serif;
    padding: 1vh;
    margin: 1vh;
    font-size: 2vh;
    background-color:rgba(154, 146, 243, 0.1)
}
aside p {

    font-weight: 520;
    letter-spacing: .1vh;
    /* text-shadow: 0 0 1vh rgba(255, 255, 255, 0.867); */
    line-height:3vh;
    text-align: left;
    /* text-indent: 1vh; */
    font-family: Arial, Helvetica, sans-serif;
    ;
    padding-top: .8vh;
    padding-left: .8vh;
    padding-right: .8vh;
    margin: .8vh;
    font-size: 2vh;
    background-color:rgba(242, 223, 223, 0.165);
}

aside main {
    border: .2vh dotted rgba(0, 0, 0, 0.155);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: 4; */
    justify-content: left;
    letter-spacing: .1vh;
    /* text-shadow: 0 0 1vh rgba(255, 255, 255, 0.867); */
    line-height:3vh;
    text-align: left;
    /* text-indent: 1vh; */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: .8vh;
    padding-left: .8vh;
    padding-right: .8vh;
    margin: .8vh;
    font-size: 2vh;
    background-color:rgba(242, 223, 223, 0.237);
}

@media (min-width: 750px) {
    

}

@media (min-width: 1100px) {
    
}

@media (min-width: 1900px) {

}