{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witter~!</title>
</head>
<body>
    <header>
        <div class="nav_left">
            <h1><a href="{% url 'witter_app:home' %}">Witter!</a></h1>
        </div>
        <div class="nav-right"></div>
            <p>Hello {{ user.username }} </p>
            <p><a href =" {% url 'logout' %}"> Click here to Logout! </a></p>
            <p><a href= "{% url 'witter_app:create' %}">Create a post! </a></p>

    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}

    </div>

    
</body>
</html>