html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10rem;
}

.playsDiv {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#results {
    margin-top: 2rem;
}
