{% extends 'base.html' %}

{% block content %}
<center class="container-fluid">        
    <p>
        <h3>Add Grocery Item:</h3>
    </p>

    {% if submitted %}
        Grocery added Successfully
    {% else %}    
    <form  action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <p>
        {{ form.as_p }}
        <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Submit">
        </p>
        {% comment %} <p>
            <input name="description" id="grocery_item_input" required placeholder="item description" maxlenght"100">
        </p>
        <p>

        </p> {% endcomment %}
    </form>
    {% endif %}

</center>
{% endblock %}