<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do</title>
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
  </head>
  <body>
    <header>
      <h1>To Do List</h1>
    </header>
    <main>
      <div>
        <ul>
      {% for item in todo %}
          <li>{{item.text}} ({{item.priority}})</li>
      {% endfor %}
        </ul>
      </div>
      <form action="" method="POST">
        <input type="text" name="todo_text"/><br />
        <input type="text" name="todo_priority"/>
        <button type="submit"/>Submit
      </form>
    </main>
    <footer></footer>
  </body>
</html>
