<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
</head>
<body>
    <header>
        <h1>To Do List</h1>
    </header>
    <main>
        <form>
            {% for post in posts %}
            <div>
                <h2>{{post['title']}}</h2>
                <p>Posted by: {{post['author']}}<br/>Date: {{post['date']}}</p>
                <p>{{post['body']}}</p>
            </div>
            {% endfor %}
            <input type="checkbox" name="checkbox" value="checkbox">walk the dog<br>
            <input type="checkbox" name="checkbox" value="checkbox">butter the cat<br>
            <input type="checkbox" name="checkbox" value="checkbox">wash dishes
        </form>
    </main>
    <footer>
        
    </footer>
</body>
</html>