<h1> It works </h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <h1> Testing </h1>
    {% for students in object_list %}
    <ul>
        <li>First Name: {{ students.first_name }}</li>

        <li>last Name: {{ students.last_name }}</li>

        <li>cohort: {{ students.cohort }}</li>

        <li>favorite_topic: {{ students.favorite_topic }}</li>

        <li>favorite_teacher: {{ students.favorite_teacher }}</li>

    <ul>
        {% endfor %}
    
</body>
</html>