<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mad Onion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div class = "the-head">
        <header>THE FLYING BLOG</header>
    </div>
    <nav>
        <hr>
        <p><a href="#" style="color: aqua">Learn About Me</a></p>
        <hr>
    </nav>
    <main class = "flex-gallery">
        <div class = "gallery-item">
            <div class = "author">
                <div class = "name">
                    <h1>Blog Author:</h1>
                    <div class = "author-name">
                        <p>J. Meadows</p>
                    </div>
                </div>
                <div class = "author-pic">
                    <img src="https://media2.giphy.com/media/XvASnGr9fafza/giphy.webp?cid=ecf05e47a0hlzm7ktd4uq3r1salky8eh01p84abkj1kqaa80&rid=giphy.webp&ct=g"
                    alt="Random guy with a book" class="center" width="170" height="210"/>
                </div>
                <br>
                <div class = "author-quote">
                    <q>Idk its science.. check google LAWL</q>
                    <p>More blogs By: J. Meadows</p>
                </div>
                <nav>
                    <div class = "author-nav">
                        <p><a href="#" style="color: aqua">Favorite Places I visited</a></p>
                        <br>
                        <p><a href="#" style="color: aqua">Greatest Planets Yet to Discover</a></p>
                        <br>
                        <p><a href="#" style="color: aqua">Are Aliens real?!</a></p>
                    </div>    
                </nav>
            </div>
        </div>
        <div class = "gallery-item">
            {% for posts in post%} 
            <div class = "main-txt">
                <h1><b>{{posts['title']}}</b></h1>
                <p>{{posts['body']}}</p>
                <ul>
                    <li>Author <q>{{posts['author']}}</q></li>

                    <li>Date Published: {{posts['date']}}</li>
                </ul>
            </div>
            {%endfor%}
        </div>
        </main>
    <footer>
        <div class = "footer-q">
            <h6>Gandolf the Grey</h6><hr><q>FLY YOU FOOLS!</q>
        </div>
    <hr>
        <h6>&copy; EST. Since today</h6>
    </footer>

    
</body>
</html>