<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handy Hardware</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        
        <main>
            <h1>Handy Hardwear</h1>
            <p> 123 Walnut St, Random, USA</p>
        </main>
        
        <img src= "hammer.png">
    
    </header>

    <div class="tools">
        <nav>
            <a href="#">Hand Tools</a>
            <hr>
            <a href="#">Power Tools</a>
            <hr>
            <a href="#">Accessories</a>
            <hr>
            <a href="#">Customer Service</a>
            <hr>
    
            <a href="#">My Cart</a>
        </nav>
        <hr>
        <section>
            <main>
                <h2>Hottest deals on tools... </h2>
            </main>
            <hr>
            <div class="options">

                <article>
                    <aside>
                        <h2>Craftsman 20V Drill</h2>
                        <img src="craftsman.png">
                    </aside>
                    <aside>
                        <h3>Crafstman 20V tool line</h3>
                        
                        <p>handy and reliable drill with impact capability at a bargain</p>
                        
                    </aside>
                    <aside>
                        <details>
                            <p>$40 (without battery)</p>
                            <img src="shop.png">
                        </details>
                        
                    </aside>

                </article>
                <hr>    
                <article>
                    <aside>
                        <h2>Milwuakee Sawsall</h2>
                        <img src="milwuakee.png">
                    </aside>
                    <aside>
                        <h3>Miwuakee USA</h3>
                        <p>perfect reciprocating saw for light to medium demolition</p>
                        
                        
                    </aside>
                    <aside>
                        <details>
                            <p>$80 (without battery)</p>
                            <img src="shop.png">
                        </details>
                    </aside>
                </article>
                <hr>
                <article>
                    <aside>
                        <h2>Ryobi Circular Saw</h2>
                        <img src="ryobi.jpg">
                    </aside>
                    
                    <aside>
                        <h3>Ryobi Tools</h3>
                        <p>7 1/4" saw for general cross cutting, job-site essential</p>
                        
                    </aside> 
                    <aside>
                        <details>
                            <p>$60 (without battery)</p>
                            <img src="shop.png">
                        </details>
                    </aside>
                </article>
            </div>
            
        </section>
    </div>    
    <footer>
        <h4>Copyright Handy Hardware, LLC</h4>
        <p>the nuts and bolts of taking the hard outta hardware </p>    
    </footer>
    
 
    
</body>
</html>