


<h1> All Students </h1>

{% for student in students %} 

First Name : {{ student.firstname }}
Last Name :  {{ student.lastname }}





<div>
    <input type="text" placeholder="firstname" v-model="newstudent.firstname">
    <input type="text" placeholder="title" v-model="newstudent.lastname">
    <input type="text" placeholder="cohort" v-model="newstudent.cohort">
    <input type="text" placeholder="favorite teacher" v-model="newstudent.favorite_teacher">
    <input type="text" placeholder="favorite topic" v-model = "newstudent.favorite_topic"
</div>

<script src=""> </script>
<script src=""> </script>

<script>
    const vm = new Vue({
        el:'#app',
        delimiters: ['[[',']]'],
        data: {
            
        }


    })