<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willoughby Myers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/mystyle.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <header>
        <div>
            <h1>Video Game blog!</h1>
            <h3>Project Portfolio: </h3>
        </div>
        <nav>
            <p><a href="#">Home</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">Contact Me</a></p>
        </nav>
    </header>
    <main>
        <h2>Here are my posts!:</h2>
        <p></p>
        <div class="container-md">  
            <div class="gallery-item">
                {% for post in posts %}

             <div class="card-title">{{post.title}}
                </div>
          
             <img src = "{{post.image}}">"
             <p>{{ post.content }} </p>
          
          
          
                {% endfor %}
            </div>
        </div>
    </main>

    </form>
    <footer>
        <p>Copyright 2022</p>
    </footer>
</body>
</html>