<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Document</title>
</head>
<body>
    <p>{{password}}</p>
    <form>
        
        <input type="number" name="letters" id="letters"><label id="letters">Number of Letters</label><hr>
        <input type="number" name="numbers" id="numbers"><label id="numbers">Number of Numbers</label><hr>
        <input type="number" name="characters" id="characters"><label id="characters">Number of Special Characters</label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>