
html, body{
    height: 100%;
}
html{
    display: table;
    margin: auto;
}
body{
    display: table-cell;
    vertical-align: middle;
}
body{
    margin: auto;
    width: 100%;
}


body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
html{
background-image: url("scenory.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
html{
    color:rgb(0, 0, 0);
}
a{
    color:blueviolet;
}
blockquote{
    color: fuchsia;
    font-family: cursive;
}
img{
    width: 200px;
    height:200px;
    border-radius: 50%;
  }
  li::marker {
	color: blueviolet;
}