{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="stlyes.css"/>
    </head>
        <body>
            <link rel="stylesheet" href="{% static 'grocery/main.css' %}">

            {% if latest_grocery_list %}
                <ul>
                    {% for grocery in latest_grocery_list %}
                    <li><a href="{% url 'grocery:detail' grocery.id %}">{{ grocery_items.grocery_list }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </body>
</html>