<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Book - Recipes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <header>
        <h1>Cook Book Recipes</h1>
    </header>
    <main>
        <div id="app">
            <div class="center">
                <h2>Recipe Search<h2><br>
                <label for="foodkeyword-search">Search by keyword:</label><br>
                <input type="text" id="foodkeyword-search" v-model = 'inputField'><br>
                <label for="meal-type">Meal Type:</label><br>
                <select id="meal-type" v-model = 'mealTypeSelect'>
                    <option value="breakfast">Breakfast</option>
                    <option value="brunch">Brunch</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                    <option value="teatime">Teatime</option>
                </select><br>
                <!-- <label for="health-label">Health Label(Optional):</label>
                <select id="health-label" v-model="healthLabelSelect">
                    <option value="alcohol-cocktail">Cocktail (Alcohol)</option>
                    <option value="alcohol-free">Mocktail (Alcohol Free)</option>
                    <option value="celery-free">Celery Free</option>
                    <option value="crustcean-free">Crustcean Free</option>
                    <option value="dairy-free">Dairy Free</option>
                    <option value="DASH">DASH (Dietary Approaches to Stop Hypertension Diet)</option>
                    <option value="egg-free">Egg Free</option>
                    <option value="fish-free">Fish Free</option>
                    <option value="FODMAP-free">FODMAP Free</option>
                    <option value="gluten-free">Gluten Free</option>
                    <option value="immuno-supportive">Immuno Supportive</option>
                    <option value="keto-friendly">Keto Friendly</option>
                    <option value="kidney-friendly">Kidney Friendly</option>
                    <option value="kosher">Kosher Diet</option>
                    <option value="low-potassium">Low Potassium</option>
                    <option value="low-sugar">Low Sugar</option>
                    <option value="lupine-free">Lupine Free</option>
                    <option value="mediterranean">Mediterranean Diet</option>
                    <option value="mollusk-free">Mollusk Free</option>
                    <option value="mustard-free">Mustard Free</option>
                    <option value="no-oil-added">No Oil Added</option>
                    <option value="paleo">Paleo (No Agricultural Products)</option>
                    <option value="peanut-free">Peanut Free</option>
                    <option value="pescatarian">Pescatarian</option>
                    <option value="pork-free">Pork Free</option>
                    <option value="red-meat-free">Red Meat Free</option>
                    <option value="seasame-free">Sesame Free</option>
                    <option value="shellfish-free">Shellfish Free</option>
                    <option value="soy-free">Soy Free</option>
                    <option value="sugar-conscious">Sugar Conscious</option>
                    <option value="sulfite-free">Sulfite Free</option>
                    <option value="tree-nut-free">Tree Nut Free</option>
                    <option value="vegan">Vegan</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="wheat-free">Wheat Free</option>
                </select><br>
                <label for="cuisine-type">Cuisine Type(Optional):</label>
                <select name="cuisine-type" v-model = "cuisineTypeSelect">
                    <option value="american">American</option>
                    <option value="asian">Asian</option>
                    <option value="british">British</option>
                    <option value="caribbean">Caribbean</option>
                    <option value="central-europe">Central Europe</option>
                    <option value="chinese">Chinese</option>
                    <option value="eastern-europe">Eastern Europe</option>
                    <option value="french">French</option>
                    <option value="greek">Greek</option>
                    <option value="indian">Indian</option>
                    <option value="italian">Italian</option>
                    <option value="japanese">Japanese</option>
                    <option value="korean">Korean</option>
                    <option value="kosher">Kosher</option>
                    <option value="mediterranean">Mediterranean</option>
                    <option value="mexican">Mexican</option>
                    <option value="middle eastern">Middle Eastern</option>
                    <option value="nordic">Nordic</option>
                    <option value="south american">South American</option>
                    <option value="south east asian">South East Asian</option>
                    <option value="world">World</option>
                </select><br> -->
                <button v-on:click="loadSearchedRecipes">Search</button>
            </div>

            <div class="main">  
                <ol>
                    <li v-for="recipe in recipes.hits" :key="recipe.id">
                        <h3 class="recipe-header"><u>{{ recipe.recipe.label }}</u></h3>
                        <div id="recipe-main">
                            <img :src="`${ recipe.recipe.image }`" class="recipe-image">
                            <div>
                                <p v-for="item in recipe.recipe.mealType"><b>Meal Type:</b> {{ item }}</p>
                                <p v-for="item in recipe.recipe.cuisineType"><b>Cuisine Type:</b> {{ item }}</p>
                                <p><b>Calories:</b> {{ recipe.recipe.calories }}</p>
                                <h4>Ingredients:</h4>
                                    <ul>
                                        <li v-for="item in recipe.recipe.ingredientLines">
                                            {{ item }}
                                        </li>
                                    </ul>
                                <p>Recipe is from <u>{{ recipe.recipe.source }}</u></p>
                                <p><a :href="`${ recipe.recipe.shareAs }`">Instructions: {{ recipe.recipe.label }}</a></p>
                            </div>
                        </div>
                    </li>                 
                </ol>
                <div id="next-btn"><button>Next Page</button></div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>