/*This is a comment*/ /*For future reference*/
body {
    background-color: rgb(142, 154, 170);
    background-image: url('sky.jpg');
    background-size: cover;
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
} 


h1 {
    color: white;
    padding: 3%;
    background-color: rgb(25, 98, 157);
    
   
}

h2 {
    color: white;
    margin: 2px 44%;
    border: 2px solid rgb(25, 98, 157);
    background-color: rgb(25, 98, 157);
    border-radius: 4px;
    position: relative;
    bottom: 490px;
    left: 150px;
    
}

p {
    color: white;
    background-color: rgb(25, 98, 157);
    padding: 5px;
    margin: 2px 30%;
    position: relative;
    bottom: 850px;
    left: 250px;
    border-radius: 5px;
}

.variant-p {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(25, 98, 157);
    margin: 2px 35%;
    padding: 25px 25px;
    position: relative;
    left: 320px;
    bottom: 480px;
    text-align: left;
   
}



ul {
    color: white;
    background-color: rgb(25, 98, 157);
    list-style-type: lower-roman;
    margin: 2px 40%;
    padding: 15px 35px;
    border: 2px solid rgb(25, 98, 157);
    border-radius: 6px;
    position: relative;
    bottom: 725px;
    right: 700px;
}


.pics {
    display: block;
    border-radius: 50px;
    position: relative;
    left: 40px;   
}

#wiki {
    color: rgb(255, 255, 0);
    background-color: rgb(25, 98, 157);
    border-radius: 3px;
}
