:root {
    --bg_main: #343b30;
    --text_light: #fff;
    --text_med: #ffffff;
    --text_dark: #e9eaee;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
  }
   
  #main{
    font-size: large;
    background-color: black;
    margin-right: 10cm;
    margin-left: 6cm;
    margin-bottom: 75%;


  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }
   



  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
   
  ul {
    list-style: none;
  }
   
  body {
    font: 1rem/1.3 "Roboto", sans-serif;
    background: var(--bg_main);
    color: var(--text_dark);
    padding: 50px;
  }